# Week 6 Overview
This week, we will build on our knowledge of relational databases by focusing on database development and querying. We’ll explore how to design efficient database structures and write structured query language (SQL) queries to retrieve and optimize data effectively.

## Learning Objectives
At the end of this week, you will be able to: 
- Outline the data normalization process 
- Recall the fundamentals of database development 
- Describe query behavior and best practices to ensure performant queries

## Topic Overview: Data Normalization Process
In this section, we explore the principles and techniques of data normalization, focusing on its objectives and the importance of organizing data effectively. We examine different normal forms and walk through practical steps to normalize a database, ensuring efficient data structure and integrity. Finally, we balance normalization with denormalization to optimize performance, looking at how we transform raw data into third normal form (3NF).

## 1.1 Lesson: Data Normalization
Imagine you’re managing a customer database for an online store. Each time a customer places an order, their name, address, and payment details are stored alongside the order information. At first, this seems fine—until a customer updates their address. Now you’re faced with a problem: Their old address is still attached to previous orders, leading to potential shipping errors. Worse, any change in payment details must be updated in multiple places, increasing the risk of inconsistencies or missed updates. 

How can you structure your database to store each piece of information in one place, ensuring accuracy, consistency, and easier updates? This is where normalization comes in.  

**Data normalization** is the process of organizing data in a relational database to minimize redundancy and dependency by dividing large tables into smaller, related tables and defining relationships between them. It follows a series of rules, known as normal forms, that guide how data should be structured to eliminate inconsistencies, maintain data integrity, and improve query efficiency. The primary goals of normalization are to reduce duplicate data, ensure accuracy, and create a clean, scalable database schema. 

In the following video, we explore data normalization—a key process in relational database design. You'll learn what normalization is, why it’s essential, and how it eliminates redundancy, ensures data integrity, and optimizes query performance. We’ll also break down the normal forms, from first normal form (1NF) to 3NF, to understand how they address redundancy and improve database structure. Mastering normalization allows you to design efficient, scalable, performant, and maintainable database systems.

- Data normalization is a crucial process in relational database design that helps eliminate data redunancy, ensure data integrity, and improve query efficiency.
- Normalization
    - Reduces redunancy by dividing large tables into small related tables.
    - Normal forms guide how data is structured
- Data Normalization Objectives
    1. Eliminate data redundancy
    2. Ensure data integrity and consistency
    3. Simplify database maintenance
    4. Optimize query performance


### Discuss Data Normalization and Its Objectives
As discussed, **data normalization** is a fundamental process in relational database design that aims to reduce redundancy, ensure data integrity, and enhance query performance. We discussed how normalization organizes data by dividing large tables into smaller, related ones based on rules called **normal forms (1NF to 5NF)**. These forms address specific types of redundancy and anomalies, with a focus on maintaining atomic values, removing partial and transitive dependencies, and ensuring relationships are properly structured. 

We also discussed how the objectives of normalization include the elimination of **data redundancy**, ensuring **data integrity and consistency** through the use of primary and foreign keys, simplifying **database maintenance** by making schema changes easier, and optimizing **query performance** by structuring data logically. It is important to understand normalization is crucial for creating efficient, scalable, and reliable database systems, making it a cornerstone of relational database design.

#### Normal Forms 
$$\mathbf{1NF} \quad \rightarrow \quad \mathbf{2NF} \quad \rightarrow \quad \mathbf{3NF} \quad \rightarrow \quad \mathbf{4NF} \quad \rightarrow \quad \mathbf{5NF}$$
$$ \text{fewer constraints} \quad \quad \quad \quad  \quad \quad  \quad \quad \quad \quad \quad \text{more constraints}$$
$$ \text{less data integrity} \quad \quad \quad \quad  \quad \quad  \quad \quad \quad \quad \text{more data integrity}$$

| 1NF | 2NF | 3NF | 4NF | 5NF |
| :--- | :--- | :--- | :--- | :--- |
| Each table has a primary key. All Attributes contain atomic values (no repeating groups or arrays). | Removes partial dependencies. Ensures all non-key attributes fully depend on primary key. | Eliminates transitive dependencies. ensures non-key attributes are not dependent on other non-key attribute. | Address multi-valued dependencies and complex relationships. | address multi-valued dependencies and complex relationships. |

___

### Resources | MSFT Description of the database normalization basics | https://learn.microsoft.com/en-us/office/troubleshoot/access/database-normalization-description

#### First Normal Form
- Eliminate repeating groups in individual tables
- create a separate table for each set of related data
- identify each set of related data with a primary key

Don't use multiple fields in a single table to store similar data. For example, to track an inventory item that may come from two possible sources, an inventory record may contain fields for `Vendor Code 1` and `Vendor Code 2`.

What happens when you add a third vendor? Adding a field isn't the answer; it requires program and table modifications and doesn't smoothly accommodate a dynamic number of vendors. Instead, place all vendor information in a separate table called Vendors, then link inventory to vendors with an item number key, or vendors to inventory with a vendor code key.

#### Second Normal Form
- Create tables for sets of values that apply to multiple records.
- Relate these tables with a foreign key

Records shouldn't depend on anything other than a table's primary key (a compound key, if necessary). 
- For example, consider a customer's address in an accounting system. The address is needed by the Customers table, but also by the Orders, Shipping, Invoices, Accounts Receivable, and Collections tables. Instead of storing the customer's address as a separate entry in each of these tables, store it in one place, either in the Customers table or in a separate Addresses table.

#### Third Normal Form

- Eliminates fields that don't depend on the key

Values in a record that aren't part of that record's key don't belong in the table. In general, anytime the contents of a group of fields may apply to more than a single record in the table, consider placing those fields in a separate table.

- For example, in an Employee Recruitment table, a candidate's university name and address may be included. But you need a complete list of universities for group mailings. If university information is stored in the Candidates table, there is no way to list universities with no current candidates. Create a separate Universities table and link it to the Candidates table with a university code key.
- EXCEPTION: Adhering to the third normal form, while theoretically desirable, isn't always practical. If you have a Customers table and you want to eliminate all possible interfield dependencies, you must create separate tables for cities, ZIP codes, sales representatives, customer classes, and any other factor that may be duplicated in multiple records. In theory, normalization is worth pursuing. However, many small tables may degrade performance or exceed open file and memory capacities.

It may be more feasible to apply third normal form only to data that changes frequently. If some dependent fields remain, design your application to require the user to verify all related fields when any one is changed.

### Normalizing an Example Table
These steps demonstrate the process of normalizing a fictitious student table.

In [1]:
import pandas as pd

unnormalized = {'Student#': [1022, 4123],
                'Advisor' : ['Jones', 'Smith'],
                'Adv-Room' : [412, 216],
                'Class1' : ['101-07', '101-07'],
                'Class2' : ['143-01', '143-01'],
                'Class3' : ['159-02', '179-04'],}
unnormalized_df = pd.DataFrame(unnormalized)
unnormalized_df

   Student# Advisor  Adv-Room  Class1  Class2  Class3
0      1022   Jones       412  101-07  143-01  159-02
1      4123   Smith       216  101-07  143-01  179-04

### First normal form: No repeating groups
- Tables should have only two dimensions. Since one student has several classes, these classes should be listed in a separate table. Fields Class1, Class2, and Class3 in the above records are indications of design trouble.
- Spreadsheets often use the third dimension, but tables shouldn't. Another way to look at this problem is with a one-to-many relationship, don't put the one side and the many sides in the same table. Instead, create another table in first normal form by eliminating the repeating group (Class#), as shown in the following example:

In [8]:
unnormalized_df_melt = pd.melt(unnormalized_df, id_vars=['Student#', 'Advisor', 'Adv-Room'], value_vars=['Class1', 'Class2', 'Class3'], var_name='Class', value_name='Course')
unnormalized_df_melt.sort_values(by='Student#')

   Student# Advisor  Adv-Room   Class  Course
0      1022   Jones       412  Class1  101-07
2      1022   Jones       412  Class2  143-01
4      1022   Jones       412  Class3  159-02
1      4123   Smith       216  Class1  101-07
3      4123   Smith       216  Class2  143-01
5      4123   Smith       216  Class3  179-04

### Second Normal Form
Second normal form: Eliminate redundant data
- Note the multiple Class# values for each Student# value in the above table. Class# isn't functionally dependent on Student# (primary key), so this relationship isn't in second normal form.

The following tables demonstrate second normal form:

In [9]:
students_df = unnormalized_df_melt[['Student#', 'Advisor', 'Adv-Room']].drop_duplicates()
students_df

   Student# Advisor  Adv-Room
0      1022   Jones       412
1      4123   Smith       216

In [10]:
registration = unnormalized_df_melt[['Student#', 'Course']]
registration

   Student#  Course
0      1022  101-07
1      4123  101-07
2      1022  143-01
3      4123  143-01
4      1022  159-02
5      4123  179-04

### Third normal form: Eliminate data not dependent on key

In the last example, Adv-Room (the advisor's office number) is functionally dependent on the Advisor attribute. The solution is to move that attribute from the Students table to the Faculty table, as shown below:

Students:

In [13]:
students_df_3rd = students_df[['Student#', 'Advisor']]
students_df_3rd

   Student# Advisor
0      1022   Jones
1      4123   Smith

In [14]:
faculty_df = unnormalized_df_melt[['Advisor', 'Adv-Room']].drop_duplicates()
faculty_df

  Advisor  Adv-Room
0   Jones       412
1   Smith       216

## 1.2 Lesson: How to Normalize a Database
This lesson will discuss how normalizing a database is the process of organizing its structure to reduce redundancy and improve data integrity. This involves breaking down large, complex tables into smaller, more focused tables and defining clear relationships between them. By following a series of steps based on normalization rules, or normal forms, you ensure that data is stored efficiently and consistently. The goal is to eliminate duplicate data, minimize dependencies, and create a database structure that is easy to maintain and scalable for future growth.

### Demonstration of Walk-through from Raw Data to 3NF
To get started on how to normalize a specific dataset you are given with the goal of designing a database, you’ll first need to assess the data you are working with. From there, the process of normalizing a database follows a series of structured steps called normal forms, with each step addressing specific types of data redundancy and anomalies. Here’s an overview: 

1. **First normal form (1NF):** This step ensures that all data is stored in a tabular format with rows and columns. Each column must contain atomic (indivisible) values, and repeating groups or arrays within columns must be removed. A primary key is defined to uniquely identify each row. 
2. **Second normal form (2NF):** Building on 1NF, this step eliminates **partial dependencies**, ensuring that all non-key attributes are fully dependent on the entire primary key. This is especially important for tables with composite primary keys, where attributes may depend on only part of the key. 
3. **Third normal form (3NF):** In this step, **transitive dependencies** are removed. A non-key attribute should not depend on another non-key attribute. Instead, attributes must depend only on the primary key, ensuring the table’s integrity and eliminating unnecessary relationships. 
4. **Fourth normal form (4NF):** 4NF addresses **multi-valued dependencies**, where one attribute depends on multiple independent values of another attribute. By separating such data into different tables, this step ensures that each table represents one independent concept or relationship. 
5. **Fifth normal form (5NF):** The final step deals with **complex join dependencies** by breaking down tables to eliminate redundancy caused by multi-table relationships. Each piece of data is stored in its simplest form, ensuring that no information is lost when the tables are joined. 

Through these steps, normalization transforms a database into a clean, efficient, and logically structured system that minimizes redundancy, maintains data integrity, and supports scalability. Most practical applications focus on achieving up to **3NF**, as it typically balances efficiency and complexity for most use cases.  

Something to be mindful of is the possibility of over-normalizing a database so it leads to less efficiency. In the next lesson, we will look at how to balance whether we are over-normalizing or need to denormalize afterward for analytical or other uses.

#### First Normal Form Rules
1. Using row order to convey information is not permitted
2. Mixing data types within the same column is not permitted
3. Having a table without a primary key is not permitted.
4. Repeating groups are not permitted

#### Second Normal Form (2NF)
1. Each non-key attribute must depend on the entire primary key

#### Third Normal Form (3NF)
Each non-key attribute must depend on the key, the whole key, and nothing but the key

#### Boyce-Codd Normal Form (BCNF)
each attribute in the table must depend on the key, the whole key, and nothing but the key

#### Fourth Normal FOrm (4NF)
The only kinds of multivalued dependency allowed in a table are multivalued dependencies on the key.

#### Fifth Normal Form
It must not be possible to describe the table as being the logical result of joining some other tables together.

## 1.3 Lesson: Balancing Normalization and Denormalization
Balancing normalization and denormalization is key to designing a database that optimizes both performance and data integrity. While normalization reduces redundancy and ensures data consistency, denormalization reintroduces controlled redundancy to enhance query performance. Here’s a step-by-step guide to achieving this balance:

1. **Understand the Business Needs**
    - Start by analyzing the business requirements and identifying the types of queries and reports the database needs to support. 
    - Determine the priorities: Is data consistency more critical or is query performance the main concern?
2. **Normalize to the Necessary Level**
    - Begin with normalization to at least **3NF**, ensuring that the database structure minimizes redundancy, maintains data integrity, and avoids anomalies. 
    - For more complex requirements, consider additional normalization (e.g., up to 4NF or 5NF) but balance this with the practicality of implementation.
3. **Identify Performance Bottlenecks**
    - Use query profiling and performance monitoring tools to evaluate the database after initial normalization. 
    - Identify queries that require multiple joins or those that perform slowly due to over-normalized structures.
4. **Strategically Denormalize**
    - Introduce denormalization selectively for specific use cases where performance improvements outweigh the risk of redundancy. Examples include: 
        - **Adding summary tables** by pre-aggregating data for faster reporting. 
        - **Duplicating frequently accessed columns**, reducing the need for joins in high-traffic queries. 
        - **Combining related tables** by merging tables accessed together frequently to streamline retrieval. 
        - **Document and control redundant data** to ensure that updates remain consistent across the database.
5. **Leverage Indexing and Caching**
    - Use indexing to speed up data retrieval without heavily denormalizing. Primary keys, foreign keys, and frequently queried columns are good candidates for indexing. 
    - Employ caching solutions to handle repeated queries, reducing the need to reintroduce redundancy.
6. **Consider Partitioning**
    - For large datasets, horizontal or vertical partitioning can improve performance without compromising normalization. Partitioning allows you to focus queries on smaller, relevant data subsets.
7. **Test and Iterate**
    - Continuously test the performance of the database after introducing denormalization. Ensure that the added redundancy does not compromise data accuracy or update processes. 
    - Adjust the balance as the application evolves, accommodating changes in query patterns or data volume.
8. **Maintain Data Integrity**
    - Implement automated processes or triggers to ensure redundant data remains consistent when updated. 
    - Use constraints and referential integrity checks to mitigate risks introduced by denormalization.

Balancing normalization and denormalization is an iterative process. Start with a fully normalized structure to maintain integrity, then selectively denormalize where performance improvements are necessary. By monitoring and refining the database design, you can achieve an optimal balance that meets both performance and consistency requirements.

## Knowledge Check 1
1. **Q - A retail company needs to store customer data, including their name, address, and multiple phone numbers. In a normalized database, how should this be structured to meet the requirements of the relational model?**
    - **A: Use a customer table for name and address and a separate table for phone numbers, linked by a customer ID.**
        - Storing phone numbers in a separate table eliminates multivalued attributes and complies with 1NF, ensuring each value is atomic and properly related. 
2. **Q - A healthcare system has a database where appointments are linked to patients. The system also stores appointment types, such as check-ups or follow-ups. To improve performance, the team combines the appointment and appointment type tables into one table. What risk does this denormalization introduce?**
    - **A: Increased redundancy and potential data inconsistencies.**
        - Denormalization by merging the appointment and appointment type tables introduces redundancy, which could lead to inconsistencies when data is updated.
3. **Q - An e-commerce company uses a database to track orders and items. The normalized structure requires multiple joins to generate reports. To improve query performance, the company creates a summary table combining order details and item data. What should it do to maintain data integrity after denormalization?**
    - **A: Use triggers or scripts to update the summary table when order or item data changes.**
        - After denormalization, automated processes like triggers ensure consistency between the summary table and the original tables, maintaining data integrity.

# Topic Overview: Fundamentals of Relational Database Management
In this section, we review the core principles of relational database design, focusing on how database elements and data types work together. We examine tables, keys, and relationships to understand how they define and connect data within a database. Finally, we analyze the impact of data types on database design to ensure efficient and accurate data management. 

### Learning Objectives 
- Recall the fundamentals of database development

## 2.1 Lesson: Relational Database Design
In this video, we cover the core principles of relational database design, including structuring data into tables, defining primary and foreign keys, applying constraints, and using normalization techniques. We explore how to create efficient, scalable, and maintainable databases that meet business needs.

### Core Principles of Relational Database Design and Understanding Data Types
Relational databases should be efficient, scalable, and maintainable.

#### Designing a Relational Database
1. Undestand its purpose and scope. Does your design align with business requirements and future scalability needs?
2. Relational tables should represent real-world entities.
3. Primary keys uniquely identify each record in a table, and foreign keys establish relationships between tables.
4. Use normalization techniques to eliminate redunancy and ensure each item is stored only once.
5. Enforce data integrity by applying constraints:
    - Uniqueness as constraint to ensure data cannot be duplicated.
    - Not null constraint requires data to be added to field.
    - Primary key and foreign keys ensure efficient relationships between tables.

As discussed, relational databases form the backbone of modern data management systems, providing structured, reliable, and scalable solutions for storing and retrieving data. Understanding the fundamentals of relational database development is essential for designing systems that meet business needs while ensuring data integrity and efficiency. This exploration includes key principles of relational database design and an in-depth look at data types, both of which significantly impact how databases are structured and perform. 

Relational database design revolves around creating a structure that organizes data efficiently, reduces redundancy, and ensures accuracy. Key principles include: 

- **Normalization** 
    - Organize data into tables to reduce redundancy and dependency.
    - Follow normal forms (1NF to 3NF and beyond if necessary) to ensure consistency and integrity. 
- **Keys and Relationships** 
    - Define **primary keys** for unique identification of records. 
    - Use **foreign keys** to establish relationships between tables, ensuring referential integrity. 
    - Design tables with appropriate relationships (one-to-one, one-to-many, many-to-many). 
- **Data Integrity** 
    - Enforce constraints (e.g., `NOT NULL`, `UNIQUE`) to ensure data accuracy and reliability. 
    - Use transaction management to adhere to ACID properties (atomicity, consistency, isolation, durability). 
- **Scalability and Performance** 
    - Structure the database to handle current and future data volume efficiently. 
    - Use indexing and query optimization techniques to improve data retrieval times. 

By following these best practices, although they are not a perfect solution, you will have a great starting point for ensuring an efficiently managed database solution. Be mindful, however, that as your database grows and new needs arise, certain situations may not be accounted for, and some flexibility or even possible redesign will be needed.

## 2.2 Lesson: Impact of Data Types on Database Design
Now let’s take a look at the importance of choosing the right data types for your database design. In the following video, we explore how data types influence storage efficiency, query performance, and data integrity. You’ll learn how to select the most appropriate data types, from numerical and string types to date and time fields, for your columns and understand the impact they have on the overall functionality and performance of your database.

### Choosing the Right Data Types for Your Data
Choosing the data types for your attributes is another critical aspect to consider. Data types define the types of values that can be stored in a column and influence storage requirements, query performance, and data integrity. 

#### Data Types
- Integer and Floating Point Data Types: Storing Numerical Values. 
    - Integers are ideal for discrete values like counts or IDs.
    - Floating points are ideal for continuous values, like prices or measurements.
- Character and String Data Types: Textual Information
    - Use `VARCHAR` for variable length text, such as customer names or descriptions.
- Date and Time Data Types: Temporal Data, like timestamps and durations
    - Using date data types ensures proper sorting and filtering of time related data.

#### Impact on Performance and Storage
- Using `VARCHAR (100)` instead of `TEXT` for short strings conserves space and speeds for queries.
- Using `DATE` instead of `DATETIME` for date-only storage reduces storage requirements.

Data types define the kind of data that can be stored in a column, impacting both storage requirements and query performance. Choosing appropriate data types is crucial for optimizing database performance and ensuring data accuracy. Key considerations include: 

- Basic Data Types: 
    - Numeric (e.g., INT, FLOAT): For storing numbers, use precise types based on the nature of calculations. 
    - Character (e.g., CHAR, VARCHAR): For text storage, choose between fixed or variable lengths, depending on data variability. 
    - Date/Time: For storing timestamps and durations, enabling temporal analysis. 
- Impact on Storage: 
    - Larger data types consume more storage, impacting disk space and performance. 
    - Choosing overly precise data types can lead to inefficiencies, while underestimating precision may lead to data loss. 
- Performance Implications: 
    - Indexed columns should use data types that allow for efficient comparison operations. 
    - Joins and filtering operations are faster with consistent data types across related tables. 
- Specialized Data Types: 
    - Use JavaScript object notation (JSON) or XML for semi-structured data. 
    - Leverage binary large objects (BLOBs) for storing binary data like images or videos. 

Although this is an abbreviated list of the various data types and their functions, as your database design acumen improves, you will be able to better evaluate the proper data type for your specific use case. Note that with Homework 1c, you’ll be using the simple “date” data type and not “datetime,” as there is a distinction between the two.

## Knowledge Check 2:
1. Q - A company is designing a database to track employee records. Each employee must have a unique identifier, and their records should not be duplicated. What is the most appropriate way to implement this in the database?
    - A -  Assign a primary key to the employee ID column
    - A primary key ensures each employee record is unique and acts as a unique identifier for each entry in the database.
2. Q - A healthcare database needs to store patient names, ages, and appointment dates. Which data types would best suit these columns?
    - A - VARCHAR for names, INT for ages, and DATE for appointment dates
    - VARCHAR is suitable for variable-length text like names, INT is ideal for storing whole numbers like ages, and DATE is specifically designed for storing dates.
3. Q - A retail company wants to create a database to track sales. To avoid redundant data, the company separates customer information, product details, and sales records into different tables. What principle is the company applying?
    - A - Normalization
    - Normalization involves organizing data into separate tables to reduce redundancy and ensure logical relationships between data.
4. Q - A financial services database has a column for transaction amounts. The column needs to store precise monetary values with up to two decimal places. Which data type should be used?
    - A - DECIMAL
    - The DECIMAL types is specifically designed for precise numerical cvalues, making it ideal for monetary amounts that require fixed precision.

## Topic Overview: Query Behavior
In this section, we review SQL, exploring its query behavior, basic syntax, and how execution plans work. We dive into indexing strategies to enhance query performance and examine common query optimization techniques to improve database efficiency. Through these lessons, we build a solid foundation for writing and optimizing SQL queries.  

### Learning Objectives 
- Describe query behavior and best practices to ensure performant queries

## 3.1 Lesson: Introduction to SQL

### Review Basic SQL Concepts and Syntax

SQL Operations
- Creating
- Reading
- Updating
- Deleting

Also known as **CRUD** operations

3 Key SQL Concepts
1. Tables and Records
2. SQL Statements
3. SQL Clauses

 
### Table 1 | *Fundamental SQL Concepts Essential for Development and Querying*

| SQL Concept | Purpose | Key Commands and Features |
| :--- | :--- | :--- |
| Data definition language (DDL) | Purpose: Used to define and manage the structure of data base objects such as tables,  indexes, and schemas. | Key Commands:</li> <ul><li>CREATE: Defines new database objects (e.g., tables, indexes).</li><li>ALTER: Modifies the structure of existing objects (e.g., add/drop columns)<li>DROP: Deletes database objects permanently.</li></ul>|
| Data Manipulation Language (DML) | Purpose: Allows developers to insert, update, delete, and retrieve data. |  Key Commands:</li> <ul><li>INSERT: Adds new rows to a table. </li><li>UPDATE: Modifies existing rows. <li> DELETE: Removes rows from a table. <li> SELECT: Retreives data from one or more tables. </li></ul> |
| Data Querying with SELECT Statements | Purpose: Filter, sort, aggregate, and group results. | Key Features :</li> <ul><li>Filtering data: Use WHERE to specify conditions (e.g., WHERE age > 30).</li><li>Sorting results: Use ORDER BY to sort the output by one or more columns. <li> Aggregating data: Functions like COUNT, SUM, AVG, MIN, and MAX allow summarizing data. <li> Grouping results: Use GROUP BY to group rows sharing the same values in specific columns. <li> Filtering groups: Use HAVING to filer groups created by GROUP BY. </li></ul> |
| Data relationships and joins | Purpose: Relational databases use tables linked by keys. Joins retrieve related data across multiple tables. | Key Commands:</li> <ul><li> INNER JOIN: Returns matching rows in both tables..</li><li>LEFT JOIN (or LEFT OUTER JOIN): Returns all rows from the left table and matching rows from the right table. <li> RIGHT JOIN: Returns all rows from the right table and matching rows from the left table. <li> FULL JOIN: Combines results of both LEFT AND RIGHT JOIN. </li></ul>|
| Indexing and query optimization | Purpose of Indexing: Speeds Up data Retrieval by creating a structure that allows the database to locate data quickly. | <ul><li> Usage: Apply indexes to columns frequently used in WHERE, JOIN, or ORDER BY clauses. </li></ul> |
| SQL Constraints | Purpose: Ensure data accuracy and integrity. | Key Commands: </li> <ul><li> PRIMARY KEY: Uniquely identifies each row in a table.  </li><li> FOREIGN KEY: Ensures referential integrity between tables. </li><li> UNIQUE: Ensures all values in a column are distinct. </li><li> NOT NULL: Ensures a column cannot have NULL values. </li></ul> |

### Basic SQL Best Practices 
- Avoid SELECT *; specify only the columns needed. 
- Use parameterized queries to prevent SQL injection. 
- Regularly analyze execution plans to optimize queries. 
- Leverage indexing but avoid over-indexing to maintain efficient write operations. 

Mastering these fundamental SQL concepts enables developers to design robust relational databases and write efficient queries tailored to their applications.

## 3.2 Lesson: Indexing Strategies

Indexing in databases is a powerful tool for improving query performance by allowing users to locate and retrieve data faster. Effective indexing strategies focus on aligning indexes with query patterns and minimizing performance overhead. Key points include: 

- Choosing the Right Columns for Indexing 
    - Index columns frequently used in WHERE, JOIN, or ORDER BY clauses. 
    - Avoid indexing columns with low cardinality (e.g., binary or Boolean fields) unless critical for specific queries. 
- Using Composite Indexes 
    - Create composite indexes for queries involving multiple columns but order columns based on their usage in filters and sorting. 
    - For example, if a query filters by state and then sorts by city, the composite index should be (state, city). 
- Covering Indexes 
    - Use indexes that include all columns referenced in a query to reduce the need to access the main table (index-only scans). 
- Avoid Over-Indexing 
    - Too many indexes can degrade performance due to increased overhead during INSERT, UPDATE, or DELETE operations. Regularly monitor and remove unused indexes. 
- Index Maintenance 
    - Rebuild or reorganize fragmented indexes periodically, especially for heavily used or updated tables. 

Best practices include analyzing query execution plans to validate the effectiveness of indexing and balancing the benefits of faster reads with the potential costs on write performance. Each database management system (DBMS) has different ways to analyze the query execution plans for your database, so familiarize yourself with these techniques as you are designing your database for optimal performance.

## 3.3 Lesson: Query Optimization Techniques

Query optimization techniques aim to refine SQL queries to reduce execution time and resource consumption. These techniques are closely tied to query behavior and database best practices: 

- Writing Selective Queries 
    - Use precise filtering conditions in WHERE clauses to limit the rows processed. 
    - Avoid using SELECT *; specify only the necessary columns to reduce data retrieval. 
- Leverage Joins and Subqueries Efficiently 
    - Use INNER JOIN instead of OUTER JOIN when possible, as it processes fewer rows. 
    - Optimize subqueries by replacing them with joins or common table expressions (CTEs) when they improve clarity and performance. 
- Avoid Functions on Indexed Columns 
    - Avoid wrapping indexed columns in functions (e.g., WHERE UPPER(column) = 'VALUE'), as this disables index usage. 
    - Instead, preprocess inputs to match the column format. 
- Minimize Data Movement 
    - Use filtering conditions as early as possible in the query to reduce data processed in later steps. 
    - Employ pagination for large result sets using LIMIT or OFFSET to avoid retrieving unnecessary rows. 
- Analyze Query Execution Plans 
    - Regularly review execution plans to identify bottlenecks, such as full table scans or inefficient joins. 
    - Adjust indexes, query structure, or database configuration based on the analysis. 
- Caching and Materialized Views 
    - Cache results of complex queries that do not change frequently. 
    - Use materialized views to precompute and store results for faster access. 

Adhering to these techniques ensures that queries are performant, reduce unnecessary resource consumption, and support scalable database operations. These thoughts should be kept in mind as we continue into our use of SQL and advanced techniques in next week’s lessons.

## Knowledge Check 3

1. Q - A financial database contains a Transactions table with millions of rows. A query retrieves all transactions above $1,000,000 using WHERE transaction_amount > 1000000. What is the best practice to optimize this query?
- A - Correct: Create an index on the transaction_amount column.
- Indexing the transaction_amount column allows the database to quickly locate rows matching the condition, improving query performance.

2. Q - A user frequently filters and sorts a Products table by category and price. What indexing strategy would provide the most efficient query performance?
- A - Correct: Create a composite index on category and price.
- A composite index on category and price is more efficient for queries that filter by category and sort by price than separate indexes.

3. Q - A database query involves multiple joins and filters, and its execution time is high. What is the first step in diagnosing and improving its performance?
- A - Correct: Examine the query’s execution plan to identify bottlenecks.
- Examining the execution plan helps identify specific bottlenecks, such as unnecessary table scans or inefficient joins, providing a targeted approach for optimization.

4. Q - A reporting query retrieves large datasets, but users only need to view 20 results at a time. Which optimization technique should be applied?
- A - Correct: Implement pagination with LIMIT and OFFSET.
- Pagination with LIMIT and OFFSET retrieves only the required subset of data, reducing the query’s resource consumption and improving performance.